<!DOCTYPE html>
<html>
  <head>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="wrapper">
      <div id="body">
        <div id="title-part">
          <img src="logo.png" style="height: 85%"/>
        </div>
        <div id="tag-part">
          <div id="tag-part-left">
            {{#each tagList}}
              <div class="single-tag">{{this}}</div>
            {{/each}}
          </div>
          <div id="tag-part-right">
              <a href="/addanote" class="apply-button">Share your love</a>
          </div>
        </div>
        <div id="tip-part">
          {{#each tipList}}
            <div id="{{this.id}}" class="tip-card" style="{{this.style}}">
              <div id="tipCard-title" class="tip-title">
                {{this.title}}
              </div>
              <div id="tipCard-content" class="tip-content">
                {{this.content}}
              </div>
              <div id="tipCard-tag" class="tip-tag">
                {{this.tag}}
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </body>
</html>
